---
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.vue";
import HeroSection from "../components/HeroSection.astro";
// import Features from "../components/Features.astro";
import WhyTestMagic from "../components/WhyTestMagic.astro";
import HowItWorks from "../components/HowItWorks.astro";
import TargetAudience from "../components/TargetAudience.astro";
import CTASection from "../components/CTASection.astro";
import Footer from "../components/Footer.astro";
import ThemeToggle from "../components/ThemeToggle.vue";
import LogoToggle from "../components/LogoToggle.vue";

// Client-side redirect to www if coming from apex domain
if (Astro.request.headers.get("host") === "testmagic.io") {
  return Astro.redirect(
    "https://www.testmagic.io" +
      Astro.url.pathname +
      Astro.url.search +
      Astro.url.hash,
    301
  );
}
---

<Layout title="TestMagic - AI for API & Backend Testing">
  <Background client:load />
  <main
    class="relative min-h-[100dvh] overflow-y-scroll scrollbar-none w-full flex flex-col h-full z-10"
  >
    <nav class="py-4 sm:py-6 px-3 sm:px-8 flex justify-between">
      <LogoToggle client:load />
      <ThemeToggle client:load />
    </nav>

    <HeroSection />
    <HowItWorks />
    <!-- <Features /> -->
    <WhyTestMagic />
    <TargetAudience />
    <CTASection />
    <Footer />
  </main>
</Layout>
