---
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.vue";
import HeroSection from "../components/HeroSection.astro";
// import Features from "../components/Features.astro";
import WhyTestMagic from "../components/WhyTestMagic.astro";
import HowItWorks from "../components/HowItWorks.astro";
import TargetAudience from "../components/TargetAudience.astro";
import CTASection from "../components/CTASection.astro";
import Footer from "../components/Footer.astro";
import ThemeToggle from "../components/ThemeToggle.vue";
import LogoToggle from "../components/LogoToggle.vue";
import FAQ from "../components/FAQ.vue";
import ProductHuntBadge from "../components/ProductHuntBadge.vue";
---

<Layout title="TestMagic - AI for API & Backend Testing">
  <Background client:load />
  <main
    class="relative min-h-[100dvh] overflow-y-scroll scrollbar-none w-full flex flex-col h-full z-10"
  >
    <nav class="py-4 sm:py-6 px-3 sm:px-8 flex justify-between items-center">
      <LogoToggle client:load />
      <div class="flex items-center gap-2">
        <ProductHuntBadge />
        <ThemeToggle client:load class="hidden md:block ms-4" />
      </div>
    </nav>

    <HeroSection />
    <HowItWorks />
    <!-- <Features /> -->
    <WhyTestMagic />
    <TargetAudience />
    <CTASection />
    <FAQ />
    <Footer />
  </main>
</Layout>
