---
import { Rocket } from "lucide-vue-next";
---

<div class="py-16 sm:py-24 px-4 sm:px-6 max-w-7xl mx-auto text-center">
  <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-4">
    Start Testing Smarter. Not Harder.
  </h2>
  <p class="text-lg sm:text-xl opacity-70 max-w-2xl mx-auto mb-8">
    Cut down on bugs. Ship faster. Let AI do the heavy lifting.
  </p>

  <div class="flex flex-col sm:flex-row gap-4 justify-center items-center">
    <a
      href="https://app.testmagic.io/"
      class="px-8 sm:px-12 py-2.5 sm:py-3 rounded-md text-base sm:text-lg font-semibold border border-card-foreground bg-primary hover:bg-accent hover:text-accent-foreground !shadow-foreground shadow-sharp-sm hover:shadow-sharp hover:-translate-x-0.5 hover:-translate-y-0.5 transform transition-all duration-200 flex items-center gap-2"
    >
      <Rocket class="w-5 h-5" /> Get Started for Free
    </a>
  </div>
</div>
