<footer class="bg-card/80 border-t py-8 mt-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <!-- <h3 class="text-lg font-semibold mb-4">Contact Us</h3> -->

        <div class="mt-4 space-y-2 text-sm opacity-70">
          <p>
            <a
              href="mailto:sanu@testmagic.io"
              class="hover:text-primary transition-colors">sanu@testmagic.io</a
            >
          </p>
          <!-- <p>
            <a
              href="tel:+91 9496 139 565"
              class="hover:text-primary transition-colors">+91 9496 139 565</a
            >
          </p> -->
        </div>
      </div>
      <div class="flex items-end justify-start md:justify-end">
        <p class="text-sm opacity-70">
          &copy; {new Date().getFullYear()} Testmagic.io. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
