---
import { Rocket } from "lucide-vue-next";
---

<div
  class="max-w-2xl h-full flex flex-col items-center justify-center mx-auto mb-12 text-center px-4 sm:px-6"
>
  <img
    src="frog-mascot.png"
    alt="TestMagic Frog Mascot"
    class="w-48 h-48 sm:w-56 sm:h-56 md:w-64 md:h-64 mx-auto"
  />

  <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-2">
    <span>AI for backend & API testing. </span>
    <span class="text-primary">Faster releases, fewer bugs.</span>
  </h1>

  <p
    class="text-lg sm:text-xl opacity-80 max-w-xl sm:max-w-2xl mx-auto mb-8 sm:mb-8"
  >
    TestMagic intelligently writes, adapts, scales, and monitors backend tests
    automatically, saving 90% of your time.
  </p>

  <a
    href="https://app.testmagic.io/"
    class="flex items-center gap-2 px-8 sm:px-12 py-2.5 sm:py-3 rounded-md text-base sm:text-lg font-semibold border border-primary-foreground bg-primary hover:bg-primary/90 text-primary-foreground !shadow-foreground shadow-sharp-sm hover:shadow-sharp hover:-translate-x-0.5 hover:-translate-y-0.5 transform transition-all duration-200"
  >
    <Rocket class="w-5 h-5" />
    Start Here
  </a>
</div>
