---
import {
  Sparkles,
  Lightbulb,
  Wrench,
  Rocket,
  Zap,
  Clock,
} from "lucide-vue-next";

const benefits = [
  {
    icon: Zap,
    title: "Save 90% time",
    description: "TestMagic writes and maintains tests for you.",
  },
  {
    icon: Clock,
    title: "Ship APIs faster with confidence",
    description: "Tests adapst to your API changes.",
  },
  {
    icon: Sparkles,
    title: "No more boilerplate",
    description: "Skip writing repetitive test code.",
  },
  {
    icon: Lightbulb,
    title: "Transparent & editable",
    description: "AI writes, you review.",
  },
  {
    icon: Wrench,
    title: "Test healing",
    description: "Let TestMagic auto-fix broken tests after an API change.",
  },
  {
    icon: Rocket,
    title: "Works out of the box",
    description: "Nothing to install. Just drop in your Swagger URL.",
  },
];
---

<div class="py-16 sm:py-24 px-4 sm:px-6 max-w-7xl mx-auto rounded-xl">
  <h2
    class="text-2xl sm:text-3xl md:text-4xl font-medium text-center mb-3 md:mb-8"
  >
    Why TestMagic?
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-1 md:gap-3">
    {
      benefits.map((benefit) => (
        <div class="group bg-card/80 p-6 rounded-xl border hover:border-primary hover:shadow-md transition-all duration-300">
          <div class="flex items-start gap-4">
            <div class="text-3xl group-hover:text-primary">
              <benefit.icon class="w-8 h-8 " />
            </div>
            <div>
              <h3 class="text-lg text-foreground group-hover:text-primary">
                {benefit.title}
              </h3>
              <p class="text-sm md:text-base opacity-70">
                {benefit.description}
              </p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
