---
import "../styles/colors.css";
import SparkleEffect from "../components/SparkleEffect.vue";
---

<!doctype html>
<html lang="en" :class="theme">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>TestMagic | AI for API & backend testing</title>

    <!-- Add OG meta tags -->
    <meta property="og:title" content="Test Magic" />
    <meta
      property="og:description"
      content="AI for API & backend testing. Faster releases, fewer bugs."
    />
    <meta property="og:image" content="https://app.testmagic.io/og-image.jpg" />
    <meta property="og:url" content="https://app.testmagic.io" />
    <meta property="og:type" content="website" />
    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Test Magic" />
    <meta
      name="twitter:description"
      content="AI for API & backend testing. Faster releases, fewer bugs."
    />
    <meta
      name="twitter:image"
      content="https://app.testmagic.io/og-image.jpg"
    />
    <!-- Additional SEO meta tags -->
    <meta
      name="description"
      content="AI for API & backend testing. Faster releases, fewer bugs."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3PQTPNYC7D"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-3PQTPNYC7D");
    </script>
  </head>
  <body class="min-h-screen bg-background text-foreground">
    <slot />
    <SparkleEffect client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
